<!DOCTYPE html>
<html>

<body>
  <select id="sub2Code" name="sub2Code" data-city-code="{{cityCode}}" data-sub-code="{{subCode}}">
    <option value="">읍/면 전체</option>
    {{#each sub2CodeList}}
    <option value="{{this.sub2Code}}">{{this.name}}</option>
    {{/each}}
  </select>
</body>

</html>