<!DOCTYPE html>
<html>

<body>
  <select id="subCode" name="subCode" data-city-code="{{cityCode}}">
    <option value="">군/구 전체</option>
    {{#each subCodeList}}
    <option value="{{this.subCode}}">{{this.name}}</option>
    {{/each}}
  </select>
</body>

</html>