@tailwind base;
@tailwind components;
@tailwind utilities;

.dmc-container {
  padding: 20px 30px;
}

.dmc-container * {
  border-radius: 4px;
}

.dmc-flex {
  display: flex;
  align-items: center;
}

.dmc-col {
  justify-content: space-between;
  padding: 10px;
}

.dmc-col.left {
  width: 70%;
}

.list-disc {
  margin-left: 20px;
  list-style: disc !important;
}

.list-github {
  list-style: none !important;
  padding: 0;
}

.list-github li:before {
  content: "\1F47E";
  margin-right: 8px;
}

.dmc-col.right {
  width: 30%;
}

.dmc-select-list {
  margin-top: 10px;
}

.dmc-select-list * {
  margin-right: 10px;
  padding: 7px;
  border: 1px solid #c3c3c3;
}

.btn {
  margin-left: 4px;
  margin-top: 10px;
  padding: 5px 18px;
}

.btn.primary {
  color: #fff;
  border: none;
  box-sizing: border-box;
  background-color: #a3d6eb !important;
  background: linear-gradient(to right, #7298a8, #735ccd);
  /*a3d6eb*/
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.btn.primary:hover {
  box-shadow: none;
}


select {
  width: 150px;
}

.ml-20 {
  margin-left: 20px;
}